body {
    margin: 0;
    background: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.game {
    position: relative;
}

canvas {
    background: #70c5ce;
    border: 3px solid black;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}